<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172351165648-3f73mq23rg8mghnhrfb50enetmjeir7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172351165648-3f73mq23rg8mghnhrfb50enetmjeir7d</string>
	<key>API_KEY</key>
	<string>AIzaSyDCT7aNCPhbuuv8zPkFZm39wzzMLZkvvM8</string>
	<key>GCM_SENDER_ID</key>
	<string>172351165648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knews</string>
	<key>PROJECT_ID</key>
	<string>knews-5982b</string>
	<key>STORAGE_BUCKET</key>
	<string>knews-5982b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172351165648:ios:0bbef68e87a7b2d4933ad5</string>
	<key>DATABASE_URL</key>
	<string>https://knews-5982b.firebaseio.com</string>
</dict>
</plist>